doctype html
html(lang="pt-br", data-ng-app="myApp")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Music Editor
        link(rel="stylesheet", href="style/main.css")
    body(data-ng-controller="musicCtrl")
        nav.teal
            .nav-wrapper
                a.brand-logo(href="#") {{app.name}}
                a.button-collapse(href="#", data-activates="menu-mobile")
                    i.fa.fa-bars
                ul.right.hide-on-med-and-down
                    li
                        a.modal-trigger(href="#about") About
                ul.side-nav#menu-mobile
                    li
                        a.modal-trigger(href="#about") About
        .container
            input#file.hide(type="file", accept="audio/mpeg")
            #noFile.center-align
                h5 To start editing, please open a file.
                label(for="file")
                    .selectFile.openAudio.waves-effect
                        i.center-align.fa.fa-file.fa-4x
                        br
                        div Open file
            #hasFile.right-align
                label(for="file")
                    .openAudio.waves-effect
                        i.fa.fa-refresh
                        span Open another file
            #fileOpen
                .row
                    .col.s12.m6
                        .card.white.darken-1
                            .card-image
                                img#coverShow(data-ng-src="", alt="")
                                span.card-title#titleShow {{song.title}}&nbsp;
                                    small {{song.album}}
                                    .artistShow by: {{song.artist}}
                            .card-content.white-text.center-align
                                a#playBtn.btn-floating.btn-large.waves-effect.waves-light.pink.accent-3(title="Play/Pause", data-ng-click="audioActions()")
                                    i(data-ng-hide="play", data-ng-click="play = !play").fa.fa-play
                                    i(data-ng-show="play", data-ng-click="play = !play").fa.fa-pause
                                .lengthCtnr
                                    .curLen1
                                        .curLen2
                                            .curLen3
                                        .curLen4
                                            .curLen5
                                .row
                                    .col.s1.np
                                        a.btn-floating.waves-effect.waves-light.teal(title="Volume Down", data-ng-click="changeVol('down')", data-ng-disabled="songVol == 0")
                                            i.fa.fa-volume-down
                                    .col.s10.range-field
                                        input(type="range", data-ng-change="changeVol()", title="Change Volume", min="0", max="10", step="1", data-ng-min="0", data-ng-max="5", data-ng-model="songVol")
                                    .col.s1.np
                                        a.btn-floating.waves-effect.waves-light.teal(title="Volume Up", data-ng-click="changeVol('up')", data-ng-disabled="songVol == 10")
                                            i.fa.fa-volume-up
                                .row.grey-text.text-darken-4.left-align
                                    .col.s2
                                        strong Year:
                                    .col.s2
                                        span(data-ng-show="song.year === ''") -
                                        span(data-ng-hide="song.year === ''") {{song.year}} {{song.path}}
                                    .col.s2
                                        strong Genre:
                                    .col.s6
                                        span(data-ng-show="song.genre === ''") -
                                        span(data-ng-hide="song.genre === ''") {{song.genre}}
                            //- .card-reveal
                                //- TODO: Lyrics fix
                                span.card-title.grey-text.text-darken-4 {{song.title}}&nbsp;
                                    i.right.fa.fa-close
                                    small {{song.album}}
                                    .artistShow by: {{song.artist}}
                                p#lyricsShow {{song.lyrics}}
                        audio#playMusic.hide
                            | Your browser does not support the audio element.
                    .col.s12.m6
                        form
                            .row
                                .input-field.col.s12
                                    input#title(type="text", data-ng-model="song.title", value="{{song.title}}")
                                    label.active(for="title") Title
                            .row
                                .input-field.col.s12
                                    input#artist(type="text", data-ng-model="song.artist", value="{{song.artist}}")
                                    label.active(for="artist") Artist
                            .row
                                .input-field.col.s12
                                    input#album(type="text", data-ng-model="song.album", value="{{song.album}}")
                                    label.active(for="album") Album
                            .row
                                .input-field.col.s6
                                    input#year(type="text", data-ng-model="song.year", value="{{song.year}}", maxlength="4")
                                    label.active(for="year") Year
                                .input-field.col.s6
                                    input#track(type="text", data-ng-model="song.track", value="{{song.track}}")
                                    label.active(for="track") Track
                            .row
                                .input-field.col.s12
                                    input#genre(type="text", data-ng-model="song.genre", value="{{song.genre}}")
                                    label.active#labelGenre(for="genre") Genre
                            .row
                                .input-field.col.s12
                                    textarea#lyrics.materialize-textarea(data-ng-model="song.lyrics") {{song.lyrics}}
                                    label.active(for="lyrics") Lyrics
                            .row
                                .input-field.file-field.col.s12
                                    .btn
                                        i.fa.fa-picture-o
                                        span   Select Cover file
                                        input#cover(type="file", data-ng-model="song.cover", value="{{song.cover}}", accept="image/*")
                                    .file-path-wrapper
                                        input.file-path.validate(type="text")
                            .row
                                .input-field.col.s12
                                    a.waves-effect.waves-light.pink.accent-3.btn.btn-full(data-ng-click="write()")
                                        i.fa.fa-save
                                        |  Download file
            #about.modal
                .modal-content
                    h4 About
                    p {{app.name}} - Version {{app.version}}
                    p Created and Developed by 
                        strong
                            a(href="mailto:contato@silvalexandre.com", target="_blank") Alexandre Silva
                        | .
                    p If you enjoyed this app, please consider making a 
                        a(href="") donation
                        | . I would appreciate it :D.
                .modal-footer
                    a.modal-action.modal-close.waves-effect.waves-tea.btn-flat(href="#!") Close
        script(src="js/vendors.js")
        script(src="js/browser-id3-writer.min.js")
        script(src="js/id3-minimized.js")
        script(src="js/ngapp.js")
