@import "lib/_default.scss";

input#file{
	display: none;
}
main{
	margin-right: 10vw;
	margin-left: 10vw;
}
.noFile{
	display: none; // TODO: remove;

	margin-top: 5em;

	text-align: center;
	.title{
		font-size: 2em;

		margin-bottom: 2em;
	}
	label{
		display: inline-block;
		@mixin button-accent;
		@mixin button-big;
		@mixin button-pop;
		@mixin shadow-1;
		@mixin shadow-pop-1;
	}
}
.changeFile{
	margin-top: 2em;

	text-align: right;
	label{
		display: inline-block;
		@mixin button-accent;
		@mixin button-pop;
		@mixin shadow-1;
		@mixin shadow-pop-1;
	}
}
#editor{
	lost-utility: clearfix;
	#media, #fields{
		lost-column: 1/2;
	}
}
