doctype
html
	head
		title Music Editor
	body(data-ng-app="musicApp")
		nav
			.title(title="Music Editor") Music Editor
			.about
				a(href="#" title="About") About
		main(data-ng-controller="musicCtrl as music")
			input#file(type="file" accept="audio/mpeg" onchange="angular.element(this).scope().music.change(this)")
			.noFile
				.title To edit the tags, first open a file.
				label(for="file")
					span Open file
			.changeFile
				label(for="file")
					span Open another file
			section#editor
				#media
					div media
				#fields
					.form-control
						label(for="title") Title
						input#title.input(type="text" placeholder="Title")
					.form-control
						label(for="artist") Artist
						input#artist.input(type="text" placeholder="Artist")
					.form-control
						label(for="album") Album
						input#album.input(type="text" placeholder="Album")
					.half
						.item
							.form-control
								label(for="year") Year
								input#year.input(type="text" placeholder="Year" maxlength="4")
						.item
							.form-control
								label(for="track") Track
								input#track.input(type="text" placeholder="Track")
					.form-control
						label(for="genre") Genre
						input#genre.input(type="text" placeholder="Genre")
					.form-control
						label(for="lyrics") Lyrics
						textarea#lyrics.input(placeholder="Lyrics")
					.form-control
						.save
							button(type="button") Save tags &amp; Download
		script(src="js/app.js")
